h1, h2, h3, h4, h5 {
    color: rgb(40, 185, 105);
}

p {
    color: rgb(8, 8, 8);
}

.row {
    margin: 1%;
}

.icons {
    max-block-size: 60%;
    margin: 10%;
}

.btn-outline-success {
    color: darkgray;
    border-color: darkgray;
}

#search {
    background-color: darkgray;
}

#footer h6 {
    color: rgb(40, 185, 105);
}