h1 {
    color: purple;
}

p {
    color: green;
}

.p-blue {
    color: blue;
    font: 25px;
}

.p-purple {
    color: purple;
    font: 20px;
}

.row {
    margin: 1%;
}

#navcontainer {
    margin-top: 4%;
}

#mike {
    color: yellow;
}